ignore
temp*

# ISE
examples/*/*/Top*
examples/*/*/_ngo
examples/*/*/_xmsgs
examples/*/*/xst
examples/*/*/xlnx_auto_0_xdb
examples/*/*/*.log
examples/*/*/ise*
examples/*/*/*.html
examples/*/*/*.xml

# Isim
examples/*/*/testbench/*.log
examples/*/*/testbench/*.xmsgs
examples/*/*/testbench/*.cmd
examples/*/*/testbench/*.wdb
examples/*/*/testbench/isim
examples/*/*/testbench/top_tb

# Vivado
examples/*/*/*.jou
examples/*/*/*.cache
examples/*/*/*.hw
examples/*/*/*.runs
examples/*/*/*.xpr

# Quartus
examples/*/*/db/
examples/*/*/incremental_db
examples/*/*/*.rpt
examples/*/*/*.done
examples/*/*/*.smsg
examples/*/*/*.summary
examples/*/*/*.jdi
examples/*/*/*.pin
examples/*/*/*.qpf
examples/*/*/*.qsf
examples/*/*/*.sld
examples/*/*/*.sof
